//
// button
//
.btn-info,
.btn-danger,
.btn-success,
.btn-warning,
.btn-info:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-warning:hover,
.btn-outline-info:hover,
.btn-outline-danger:hover,
.btn-outline-success:hover,
.btn-outline-warning:hover{
    color: $white;
}

//
// Card
//

.card {
  margin-bottom: 30px;
  .card-subtitle {
    font-weight: 400;
    margin-bottom: 10px;
    color: #686868;
    font-size: 15px;
  }
  .card-title {
    position: relative;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
  }
}

//
// Table Common
//

.table thead th,
.table th {
  font-weight: 500;
}

.card-search-input {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid #272c32;
}
