//
// button
//
.btn-info,
.btn-info:hover,{
    color: $white;
    background: $btn-color;
}

//
// Card
//

.card {
  margin-bottom: 30px;
  .card-subtitle {
    font-weight: 400;
    margin-bottom: 10px;
    color: #686868;
    font-size: 15px;
  }
  .card-title {
    position: relative;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
  }
}

//
// Table Common
//

.table thead th,
.table th {
  font-weight: 500;
}

//
// Search field
//

.has-search {
  .form-control {
    padding-right: 2rem !important;
    position: relative;
    display: inline-block !important;
    width: 100%;
  }
  .fa-search {
    position: absolute;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-left: -2rem;
    top: 1.5rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
}
//
// Profile Form
//

.form-material .form-group {
  overflow: hidden
}

.form-material .form-group label {
  font-size: 16px;
  color: $headings-color;
}

.form-material .form-group .form-control,.form-material .form-group .form-select {
  background-color: transparent;
  background-position: center bottom,center calc(100% - 1px);
  background-repeat: no-repeat;
  background-size: 0 2px,100% 1px;
  padding: 0;
  -webkit-transition: background 0s ease-out 0s;
  -o-transition: background 0s ease-out 0s;
  transition: background 0s ease-out 0s;
  border: 0;
  border-bottom: 1px solid #dee2e6
}

.form-material .form-group .form-control:focus,.form-material .form-group .form-select:focus {
  background-image: -webkit-gradient(linear,left top,left bottom,from($info),to($info)),-webkit-gradient(linear,left top,left bottom,from($light),to($light));
  background-image: -o-linear-gradient($info,$info),-o-linear-gradient($light,$light);
  background-image: linear-gradient($info,$info),linear-gradient($light,$light);
  border: 0 none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: none;
  background-size: 100% 2px,100% 1px;
  outline: 0 none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s
}

.form-material .form-group .btn-success {
  background: $info;
  border-color: $info;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in
}

.form-material .form-group .btn-success:active {
  background: $info;
  border-color: 1px solid $info
}

.form-group {
  margin-bottom: 1rem
}

.card-body {
  padding: 1.25rem
}

.profile-card {
  margin-top: -20px;
}
.profile-additional-information-header {
  font-weight: $headings-font-weight;
}
.update-profile-btn {
justify-content: stretch;
flex-direction: column;
width: 97%;
bottom: 0;
}

//
// Card with img
//

.align-center{
align-content: center;
display: flex;
flex-direction: column;
align-items: center;
}

//
// Alert
//
.alert {
position: absolute;
top: 0;
z-index: 1000;
left: 0;
right: 0;
border-radius: 0 !important;
padding: 1.2rem 1rem;
}
