// scafholding
* {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: $body-color;
  background: $main-body-bg;
  position: relative;
}

html {
  position: relative;
  min-height: 100%;
}

a {
  color: $info;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

a.link {
  color: $body-color;
  &:hover,
  &:focus {
    color: $info;
  }
}

button {
  border-radius: 0 !important;
}

//
// Font weight
//

html body {
  .font-medium {
    font-weight: 500;
  }
}

//
// Tag
//
tag {
  border-radius: 0 !important;
}
