// App

/*==============================================================
 For all pages
 ============================================================== */

#main-wrapper {
  width: 100%;
  overflow: hidden;
}

.page-wrapper {
  background: $body-bg;
  position: relative;
}

.page-wrapper > .container-fluid {
  padding: 20px;
  min-height: calc(100vh - 120px);
  max-width: $page-wrapper-max-width;
  margin: 0 auto;
}

/*******************
Footer
*******************/

.footer {
  padding: 15px 20px;
}

/*******************
Desktop layout
*******************/

#main-wrapper{
  .topbar .top-navbar .navbar-header {
    transition: 0.2s ease-in;
  }
}

/*******************
 Responsive layout
*******************/


@media (max-width: 991px) {
  #main-wrapper {
    &[data-sidebartype="desktop"] {
      .page-wrapper {
        margin-left: 0;
      }
    }
    /*Header position*/
    &[data-header-position="fixed"][data-sidebar-position="fixed"] {
      .topbar .top-navbar {
        .navbar-collapse {
          position: relative;
          top: $topbar-height;
        }
      }
    }
  }
}
