<div class="card">
    <div class="card-body">
        <!-- title -->
      <div class="row mb-3">
        <div class="col-lg-2">
          <h3 class="card-title">User List</h3>
        </div>
        <div class="col-lg-10">
          <input type="text" placeholder="Search..." class="card-search-input" [(ngModel)]="filterTerm">
        </div>
      </div>


        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Employee Name</th>
                        <th class="text-dark font-medium fs-4">Position</th>
                      <th class="text-dark font-medium fs-4">Project</th>
                        <th class="text-dark font-medium fs-4">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeesList | filter: filterTerm">
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]=employee.image alt="employee" width="45" class="rounded-circle">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{employee.fullName}}</h5>
                                    <span>{{employee.email}}</span>
                                </div>
                            </div>
                        </td>
                        <td class="fs-4">
                          {{employee.position}}
                        </td>
                        <td>
                            {{employee.project}}
                        </td>
                        <td>
                          {{employee.status}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
