<div *ngIf="auth.user$ | async as user">
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- Row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
      <app-card-with-image [user]="currentUser"></app-card-with-image>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7 position-relative">
      <app-card-with-form [currentUser]="currentUser" (updatedUser)="getUpdatedUser($event)"></app-card-with-form>
      <div class="col-12 d-flex position-absolute update-profile-btn">
        <button type="button" class="btn btn-info" (click)="updateProfile()" [disabled]="isDisabled"> Update Profile </button>
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- Row -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

</div>
