<div class="card">
  <div class="card-body">
    <form class="form-horizontal form-material mx-2">
      <div class="form-group">
        <label class="col-md-12 mb-0">First Name:</label>
        <div class="col-md-12">
          <input type="text" [value]="[currentUser.given_name]"
                 class="form-control ps-0 form-control-line" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12 mb-0">Last Name:</label>
        <div class="col-md-12">
          <input type="text" [value]="[currentUser.family_name]"
                 class="form-control ps-0 form-control-line" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12 mb-0">Full Name:</label>
        <div class="col-md-12">
          <input type="text" [value]="[currentUser.name]"
                 class="form-control ps-0 form-control-line" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12 mb-0">Locale:</label>
        <div class="col-md-12">
          <input type="text" [value]="[currentUser.locale]"
                 class="form-control ps-0 form-control-line" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12 mb-0">Nickname:</label>
        <div class="col-md-12">
          <input type="text" [value]="[currentUser.nickname]"
                 class="form-control ps-0 form-control-line" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12 mb-0">Email:</label>
        <div class="col-md-12">
          <input type="text" [value]="[currentUser.email]"
                 class="form-control ps-0 form-control-line" readonly>
        </div>
      </div>
      <br>
      <h3 class="profile-additional-information-header">Add Additional Information:</h3>
      <div class="form-group">
        <label class="col-md-12 mb-0">Residential Address:</label>
        <div class="col-md-12">
          <input type="text" [(ngModel)]="currentUser.personal_details.residential_address"
                 (change)="updateResidentialAddress()"
                 class="form-control ps-0 form-control-line" name="residential_address">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 mb-0">Work Office Location:</label>
        <div class="col-sm-12 mb-0">
          <app-ng-chips [items]="currentUser.personal_details.work_office_location" (addItemEvent)="addItemEvent($event)" (removeItemEvent)="removeLocation($event)"></app-ng-chips>
        </div>
      </div>
    </form>
  </div>
</div>
