<!-- ============================================================== -->
<!-- Main wrapper -->
<!-- ============================================================== -->
<div
  id="main-wrapper"
  data-theme="light"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="desktop"
>
  <!-- ============================================================== -->
  <!-- Topbar header -->
  <!-- ============================================================== -->
  <header class="topbar" data-navbarbg="skin5">
    <nav class="d-flex top-navbar navbar-expand-lg navbar-dark">
      <div class="navbar-collapse">
        <app-navigation class="w-100"></app-navigation>
      </div>
    </nav>
  </header>

  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
      March 2022
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
